html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	font-family: Helvetica;
	font-size: 12px;
}

.jcc-header-section {
	height: 80px;
    background-color: #232323;
    color: white;
    padding: 5px
}

.jcc-content-section {
    width: 100%;
    height: calc(100% - 130px);
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.jcc-footer-section {
	
	height: 20px;
	padding: 10px;
    text-align: right;
    background-color: #232323;
    color: #E9453E;
}

.jcc-welcome-page {
	width: 100%;
	height: 100%;
	background-image: url('images/welcome.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
} 

.jcc-header-content {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
	vertical-align: middle;
}

.jcc-header-content.jcc-login-user {
	text-align: right;
}

.jcc-header-content.jcc-logged-user-content {
	display: none;
	text-align: right;
}

.jcc-field-container {
	width: 50%
	height: 100%;
	display: inline-block;
	margin: 20px 5px;
	color: #E9453E;
}

.jcc-field-container.jcc-field-container-submit {
	position: relative;
	top: 0px;
}

.jcc-book-icon {
	height: 100%;
	background-image: url('images/book.png');
	background-repeat: no-repeat;
	background-size: 80px 100%;
	display: inline-block;
}

.jcc-book-text {
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #E9453E;
	font-size: 50px;
	margin: 10px 10px 10px 100px 
}

.jcc-err-msg {
	display: block;
	font-size: 11px;
	color: #FF0000;
}

.jcc-logged-ser-text {
	font-size: 12px;
	color: #E9453E;
}
